commands:
  01_install_geos:
    command: |
      aws s3 cp s3://##YOUR_PRIVATE_S3_BUCKET##/builds/geos-3.6.4.tar.gz .
      sudo mkdir -p /usr/local/geos
      sudo tar -xvf geos-3.6.4.tar.gz -C /usr/local/geos
      sudo rm -f geos-3.6.4.tar.gz
    test: "[ ! -d /usr/local/geos ]"

  02_install_proj:
    command: |
      aws s3 cp s3://##YOUR_PRIVATE_S3_BUCKET##/builds/proj-5.2.0.tar.gz .
      sudo mkdir -p /usr/local/proj
      sudo tar -xvf proj-5.2.0.tar.gz -C /usr/local/proj4
      sudo rm -f proj-5.2.0.tar.gz
    test: "[ ! -d /usr/local/proj ]"

  03_install_gdal:
    command: |
      aws s3 cp s3://##YOUR_PRIVATE_S3_BUCKET##/builds/gdal-2.4.4.tar.gz .
      sudo mkdir -p /usr/local/gdal
      sudo tar -xvf gdal-2.4.4.tar.gz -C /usr/local/gdal
      sudo rm -f gdal-2.4.4.tar.gz
    test: "[ ! -d /usr/local/gdal ]"

option_settings:
  aws:elasticbeanstalk:application:environment:
    PATH: "/usr/local/gdal/bin:$PATH"
    LD_LIBRARY_PATH: /usr/local/geos/lib:/usr/local/gdal/lib:/usr/local/proj/lib:$LD_LIBRARY_PATH
    GDAL_LIBRARY_PATH: /usr/local/gdal/lib/libgdal.so
